*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
:root{
    --primary-color:#f15a2a;
    --secondary-color:#a2b077;
    --black-color:#140e10;
    --gray-color:#595a5c;
    --main-color:#373638;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 300px;
    width: 260px;
    box-shadow: 0 0 9px rgb(120, 119, 119);
    border-radius: 0.6rem;
    padding: 10px;
    background-color: var(--main-color);
}
#inputText{
    border: 1px solid rgb(190, 186, 186);
    padding: 0.6rem;
    border-radius: 0.2rem;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
}
.btn-container{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}
.btn1{
    background-color: var(--black-color);
    color: white;
}
.btn2{
    background-color: var(--gray-color);
}
.btn3{
    background-color: var(--primary-color);
    color: white;
}
button{
  font-size: 20px;
  height: 40px;
  width: 50px;
  border-radius: 0.4rem;
}